.card{
    padding: 20px;
    border-radius: 8px;
    background: linear-gradient(87deg, #F05D55 22.83%, #F49C73 96.11%);
    display: flex !important;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    border: none;

    h1{
        margin: 0 !important;  
        color: var(--White, #FCFCFD);
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
    h3{
        margin: 0 !important;  
        color: var(--White, #FCFCFD);
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px; /* 150% */
    }

}

.card-wrapper{
    display: flex;
    justify-content: space-between;
    gap: 15px;
}
.card-logo{
    border-radius: 90000px;
    background: rgba(252, 252, 253, 0.10);
    box-shadow: 0px 1px 3.4px 0px rgba(0, 0, 0, 0.05);
    padding: 8px;

}

.match-card{
    
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    justify-content: center;
    padding: 10px 20px 20px;
    background-image: url('/public/assets/match-card-bg.svg');
    background-size: cover;
    background-repeat: no-repeat;
    p,h2,h6{
        margin: 0;
    }
    .judul-atas{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 8px;
        border-radius: 5px;
        background: #E62129;
        padding: 5px 40px;

        p{
            color: #FFF;
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: 20px; /* 142.857% */
        }
    }

    &-content{
        display: flex;
        gap: 16px;
        justify-content: center;

        .match-inner{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            text-align: center;
            align-items: center;

            h2{
                color: #FFF;
                text-align: center;
                font-size: 16px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                background: rgba(68, 140, 233, 0.50);
                display: flex;
                padding: 5px;
                justify-content: center;
                align-items: center;
                gap: 10px;
            }

          
             &-center{
                display: flex;
                flex-direction: column;
                justify-content: center;
                text-align: center;
                align-items: center;
                gap: 15px;
                h6{
                    color: #FFF;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                    border-radius: 16.529px;
                    background: #F05D55;
                    padding: 8.264px 16.529px;
                }
                span{
                    color: #FFF;
                    text-align: center;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                }
             }
            
        }
    }
}


