.search-engine{
    display: flex !important;
    gap: 12px;
    width: 100%;
    height: 52px;
}
.search-box{
    position: relative;
    width: 100%;

    input{
        width: 100%;
        height: 100%;
        padding:16px;
        border-radius: 8px;
        border: 0.5px solid var(--Grey-400, #D7D7D7);
        background: #F9F9F9;
        outline: none;

        &::placeholder{
            color: var(--Grey-500, #8A8A8A);
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
    }

    i{
        position: absolute;
        color: #8A8A8A;
        top: 29%;
        left: 95.8%;
    }
}

.btn-status{
    background: #F9F9F9;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
    padding: 16px;
    height: 100%;

    color: var(--Grey-500, #8A8A8A);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: 0.5px solid var(--Grey-400, #D7D7D7);
    border-radius: 8px;
-webkit-border-radius: 8px;
-moz-border-radius: 8px;
-ms-border-radius: 8px;
-o-border-radius: 8px;
}

.red-button{
    button{
        display: flex;
        padding: 16px;
        height: 100%;
        gap: 2px;
        border: none;
        border-radius: 8px;
        background: #E62129;
            span,p{
                color: var(--White, #FCFCFD) !important;
                font-size: 14px;
                font-style: normal;
                font-weight: 500;
                line-height: 20px; /* 142.857% */
                margin: 0;
            }
    }
}
.red-button-splash{
    button{
        display: flex;
        padding: 16px;
        height: 100%;
        width: 179px;
        gap: 2px;
        border: none;
        border-radius: 8px;
        background: #E62129;
            span,p{
                color: var(--White, #FCFCFD) !important;
                font-size: 14px;
                font-style: normal;
                font-weight: 500;
                line-height: 20px; /* 142.857% */
                margin: 0;
            }
    }
}

.simpan{
        justify-content: center;
        display: flex;
        padding: 16px;
        gap: 2px;
        border: none;
        border-radius: 8px;
        background: #E62129;

        color: var(--White, #FCFCFD);
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 20px; /* 142.857% */
        margin: 0;
}
