.p-homepage{
    display: flex;
    width: 100%;
   
}

.content{
    width: 100%;
    overflow: hidden;
    position: relative;

    .inner-content{
        padding: 25px 40px;
        background-color: #F2F2F2;
        display: flex;
        flex-direction: column;
        gap: 25px;
        margin-left: 380px;
        margin-top: 92px;
        height: 100%;
        .berlangsung{
            background-color: #fff;
            padding: 20px;
            border-radius: 8px;
            -webkit-border-radius: 8px;
            -moz-border-radius: 8px;
            -ms-border-radius: 8px;
            -o-border-radius: 8px;
            
           
            h4{
                color: #1F1F1F;
                font-size: 16px;
                font-style: normal;
                font-weight: 500;
                line-height: 24px; /* 150% */
                margin: 0;
            }

            .tambah-wrap-top{
                display: flex;
                flex-direction: column;
                gap: 8px;

                input{
                    background: #F9F9F9;
                    display: flex;
                    gap: 10px;
                    width: 100%;
                    padding: 16px;
                    height: 100%;

                    color: var(--Grey-500, #8A8A8A);
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    border: 0.5px solid var(--Grey-400, #D7D7D7);
                    border-radius: 8px;
                    -webkit-border-radius: 8px;
                    -moz-border-radius: 8px;
                    -ms-border-radius: 8px;
                    -o-border-radius: 8px;
                }
            }

            .tambah-wrap-bottom{
                display: flex;
                margin-top: 16px;
                gap: 16px;
                .bottom1{
                    flex: 1 0 0;
                    display: flex;
                    flex-direction: column;
                    gap: 8px;
                    
                    input[type="date"] {
                    padding: 16px;
                    outline: none;
                    color: var(--Grey-500, #8A8A8A);
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    border: 0.5px solid var(--Grey-400, #D7D7D7);
                    border-radius: 8px;
                    -webkit-border-radius: 8px;
                    -moz-border-radius: 8px;
                    -ms-border-radius: 8px;
                    -o-border-radius: 8px;
                    background-color: #F9F9F9;
                    }
                }
                input[type="date"]::-webkit-calendar-picker-indicator {
                background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none"><path d="M13.9583 2.96666V1.66666C13.9583 1.325 13.675 1.04166 13.3333 1.04166C12.9917 1.04166 12.7083 1.325 12.7083 1.66666V2.91666H7.29165V1.66666C7.29165 1.325 7.00832 1.04166 6.66665 1.04166C6.32499 1.04166 6.04165 1.325 6.04165 1.66666V2.96666C3.79165 3.175 2.69999 4.51666 2.53332 6.50833C2.51665 6.75 2.71665 6.95 2.94999 6.95H17.05C17.2917 6.95 17.4917 6.74166 17.4667 6.50833C17.3 4.51666 16.2083 3.175 13.9583 2.96666Z" fill="%23666666"/><path d="M16.6667 8.2H3.33333C2.875 8.2 2.5 8.575 2.5 9.03333V14.1667C2.5 16.6667 3.75 18.3333 6.66667 18.3333H13.3333C16.25 18.3333 17.5 16.6667 17.5 14.1667V9.03333C17.5 8.575 17.125 8.2 16.6667 8.2ZM7.675 15.175C7.63333 15.2083 7.59167 15.25 7.55 15.275C7.5 15.3083 7.45 15.3333 7.4 15.35C7.35 15.375 7.3 15.3917 7.25 15.4C7.19167 15.4083 7.14167 15.4167 7.08333 15.4167C6.975 15.4167 6.86667 15.3917 6.76667 15.35C6.65833 15.3083 6.575 15.25 6.49167 15.175C6.34167 15.0167 6.25 14.8 6.25 14.5833C6.25 14.3667 6.34167 14.15 6.49167 13.9917C6.575 13.9167 6.65833 13.8583 6.76667 13.8167C6.91667 13.75 7.08333 13.7333 7.25 13.7667C7.3 13.775 7.35 13.7917 7.4 13.8167C7.45 13.8333 7.5 13.8583 7.55 13.8917C7.59167 13.925 7.63333 13.9583 7.675 13.9917C7.825 14.15 7.91667 14.3667 7.91667 14.5833C7.91667 14.8 7.825 15.0167 7.675 15.175ZM7.675 12.2583C7.51667 12.4083 7.3 12.5 7.08333 12.5C6.86667 12.5 6.65 12.4083 6.49167 12.2583C6.34167 12.1 6.25 11.8833 6.25 11.6667C6.25 11.45 6.34167 11.2333 6.49167 11.075C6.725 10.8417 7.09167 10.7667 7.4 10.9C7.50833 10.9417 7.6 11 7.675 11.075C7.825 11.2333 7.91667 11.45 7.91667 11.6667C7.91667 11.8833 7.825 12.1 7.675 12.2583ZM10.5917 15.175C10.4333 15.325 10.2167 15.4167 10 15.4167C9.78333 15.4167 9.56667 15.325 9.40833 15.175C9.25833 15.0167 9.16667 14.8 9.16667 14.5833C9.16667 14.3667 9.25833 14.15 9.40833 13.9917C9.71667 13.6833 10.2833 13.6833 10.5917 13.9917C10.7417 14.15 10.8333 14.3667 10.8333 14.5833C10.8333 14.8 10.7417 15.0167 10.5917 15.175ZM10.5917 12.2583C10.55 12.2917 10.5083 12.325 10.4667 12.3583C10.4167 12.3917 10.3667 12.4167 10.3167 12.4333C10.2667 12.4583 10.2167 12.475 10.1667 12.4833C10.1083 12.4917 10.0583 12.5 10 12.5C9.78333 12.5 9.56667 12.4083 9.40833 12.2583C9.25833 12.1 9.16667 11.8833 9.16667 11.6667C9.16667 11.45 9.25833 11.2333 9.40833 11.075C9.48333 11 9.575 10.9417 9.68333 10.9C9.99167 10.7667 10.3583 10.8417 10.5917 11.075C10.7417 11.2333 10.8333 11.45 10.8333 11.6667C10.8333 11.8833 10.7417 12.1 10.5917 12.2583ZM13.5083 15.175C13.35 15.325 13.1333 15.4167 12.9167 15.4167C12.7 15.4167 12.4833 15.325 12.325 15.175C12.175 15.0167 12.0833 14.8 12.0833 14.5833C12.0833 14.3667 12.175 14.15 12.325 13.9917C12.6333 13.6833 13.2 13.6833 13.5083 13.9917C13.6583 14.15 13.75 14.3667 13.75 14.5833C13.75 14.8 13.6583 15.0167 13.5083 15.175ZM13.5083 12.2583C13.4667 12.2917 13.425 12.325 13.3833 12.3583C13.3333 12.3917 13.2833 12.4167 13.2333 12.4333C13.1833 12.4583 13.1333 12.475 13.0833 12.4833C13.025 12.4917 12.9667 12.5 12.9167 12.5C12.7 12.5 12.4833 12.4083 12.325 12.2583C12.175 12.1 12.0833 11.8833 12.0833 11.6667C12.0833 11.45 12.175 11.2333 12.325 11.075C12.4083 11 12.4917 10.9417 12.6 10.9C12.75 10.8333 12.9167 10.8167 13.0833 10.85C13.1333 10.8583 13.1833 10.875 13.2333 10.9C13.2833 10.9167 13.3333 10.9417 13.3833 10.975C13.425 11.0083 13.4667 11.0417 13.5083 11.075C13.6583 11.2333 13.75 11.45 13.75 11.6667C13.75 11.8833 13.6583 12.1 13.5083 12.2583Z" fill="%23666666"/></svg>')} 
            }
        }
        .white-card{
            background-color: #fff;
            padding: 20px;
            border-radius: 8px;
            margin: 0;
            -webkit-border-radius: 8px;
            -moz-border-radius: 8px;
            -ms-border-radius: 8px;
            -o-border-radius: 8px;
            display: flex;
            flex-direction: column;
            gap: 16px;

            .video-wrapper{
                width: 100%;
                video{
                    width: 100%;
                }

            }

            .isi-wrap{
                display: flex;
                .isi{
                    flex: 1 0 0;
                }
            }
            p {
                    margin: 0 !important;
                    color: #1F1F1F;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 20px; /* 142.857% */
                }

            span{
                color: var(--Neutral-05, #818489);
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 20px; /* 142.857% */
            }
   
            &-inner{
                display: flex;
                flex-direction: column;
                gap: 8px;
            }

            .whitecard-inner-bottom{
                display: flex;
                .whitecard-bottom{
                    flex: 1 0 0;
                    display: flex;
                    flex-direction: column;
                    gap: 8px;
                }
            }

            hr{
                margin: 0; 
            }
           
            h4{
                color: #1F1F1F;
                font-size: 16px;
                font-style: normal;
                font-weight: 500;
                line-height: 24px; /* 150% */
                margin: 0;
            }

            .tambah-wrap-top{
                display: flex;
                flex-direction: column;
                gap: 8px;

                input{
                    background: #F9F9F9;
                    display: flex;
                    gap: 10px;
                    width: 100%;
                    padding: 16px;
                    height: 100%;

                    color: var(--Grey-500, #8A8A8A);
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    border: 0.5px solid var(--Grey-400, #D7D7D7);
                    border-radius: 8px;
                    -webkit-border-radius: 8px;
                    -moz-border-radius: 8px;
                    -ms-border-radius: 8px;
                    -o-border-radius: 8px;
                }
            }

            .tambah-wrap-bottom{
                display: flex;
                margin-top: 16px;
                gap: 16px;
                .bottom1{
                    flex: 1 0 0;
                    display: flex;
                    flex-direction: column;
                    gap: 8px;
                    
                    input[type="date"] {
                    padding: 16px;
                    outline: none;
                    color: var(--Grey-500, #8A8A8A);
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    border: 0.5px solid var(--Grey-400, #D7D7D7);
                    border-radius: 8px;
                    -webkit-border-radius: 8px;
                    -moz-border-radius: 8px;
                    -ms-border-radius: 8px;
                    -o-border-radius: 8px;
                    background-color: #F9F9F9;
                    }
                }
                input[type="date"]::-webkit-calendar-picker-indicator {
               background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none"><path d="M13.9583 2.96666V1.66666C13.9583 1.325 13.675 1.04166 13.3333 1.04166C12.9917 1.04166 12.7083 1.325 12.7083 1.66666V2.91666H7.29165V1.66666C7.29165 1.325 7.00832 1.04166 6.66665 1.04166C6.32499 1.04166 6.04165 1.325 6.04165 1.66666V2.96666C3.79165 3.175 2.69999 4.51666 2.53332 6.50833C2.51665 6.75 2.71665 6.95 2.94999 6.95H17.05C17.2917 6.95 17.4917 6.74166 17.4667 6.50833C17.3 4.51666 16.2083 3.175 13.9583 2.96666Z" fill="%23666666"/><path d="M16.6667 8.2H3.33333C2.875 8.2 2.5 8.575 2.5 9.03333V14.1667C2.5 16.6667 3.75 18.3333 6.66667 18.3333H13.3333C16.25 18.3333 17.5 16.6667 17.5 14.1667V9.03333C17.5 8.575 17.125 8.2 16.6667 8.2ZM7.675 15.175C7.63333 15.2083 7.59167 15.25 7.55 15.275C7.5 15.3083 7.45 15.3333 7.4 15.35C7.35 15.375 7.3 15.3917 7.25 15.4C7.19167 15.4083 7.14167 15.4167 7.08333 15.4167C6.975 15.4167 6.86667 15.3917 6.76667 15.35C6.65833 15.3083 6.575 15.25 6.49167 15.175C6.34167 15.0167 6.25 14.8 6.25 14.5833C6.25 14.3667 6.34167 14.15 6.49167 13.9917C6.575 13.9167 6.65833 13.8583 6.76667 13.8167C6.91667 13.75 7.08333 13.7333 7.25 13.7667C7.3 13.775 7.35 13.7917 7.4 13.8167C7.45 13.8333 7.5 13.8583 7.55 13.8917C7.59167 13.925 7.63333 13.9583 7.675 13.9917C7.825 14.15 7.91667 14.3667 7.91667 14.5833C7.91667 14.8 7.825 15.0167 7.675 15.175ZM7.675 12.2583C7.51667 12.4083 7.3 12.5 7.08333 12.5C6.86667 12.5 6.65 12.4083 6.49167 12.2583C6.34167 12.1 6.25 11.8833 6.25 11.6667C6.25 11.45 6.34167 11.2333 6.49167 11.075C6.725 10.8417 7.09167 10.7667 7.4 10.9C7.50833 10.9417 7.6 11 7.675 11.075C7.825 11.2333 7.91667 11.45 7.91667 11.6667C7.91667 11.8833 7.825 12.1 7.675 12.2583ZM10.5917 15.175C10.4333 15.325 10.2167 15.4167 10 15.4167C9.78333 15.4167 9.56667 15.325 9.40833 15.175C9.25833 15.0167 9.16667 14.8 9.16667 14.5833C9.16667 14.3667 9.25833 14.15 9.40833 13.9917C9.71667 13.6833 10.2833 13.6833 10.5917 13.9917C10.7417 14.15 10.8333 14.3667 10.8333 14.5833C10.8333 14.8 10.7417 15.0167 10.5917 15.175ZM10.5917 12.2583C10.55 12.2917 10.5083 12.325 10.4667 12.3583C10.4167 12.3917 10.3667 12.4167 10.3167 12.4333C10.2667 12.4583 10.2167 12.475 10.1667 12.4833C10.1083 12.4917 10.0583 12.5 10 12.5C9.78333 12.5 9.56667 12.4083 9.40833 12.2583C9.25833 12.1 9.16667 11.8833 9.16667 11.6667C9.16667 11.45 9.25833 11.2333 9.40833 11.075C9.48333 11 9.575 10.9417 9.68333 10.9C9.99167 10.7667 10.3583 10.8417 10.5917 11.075C10.7417 11.2333 10.8333 11.45 10.8333 11.6667C10.8333 11.8833 10.7417 12.1 10.5917 12.2583ZM13.5083 15.175C13.35 15.325 13.1333 15.4167 12.9167 15.4167C12.7 15.4167 12.4833 15.325 12.325 15.175C12.175 15.0167 12.0833 14.8 12.0833 14.5833C12.0833 14.3667 12.175 14.15 12.325 13.9917C12.6333 13.6833 13.2 13.6833 13.5083 13.9917C13.6583 14.15 13.75 14.3667 13.75 14.5833C13.75 14.8 13.6583 15.0167 13.5083 15.175ZM13.5083 12.2583C13.4667 12.2917 13.425 12.325 13.3833 12.3583C13.3333 12.3917 13.2833 12.4167 13.2333 12.4333C13.1833 12.4583 13.1333 12.475 13.0833 12.4833C13.025 12.4917 12.9667 12.5 12.9167 12.5C12.7 12.5 12.4833 12.4083 12.325 12.2583C12.175 12.1 12.0833 11.8833 12.0833 11.6667C12.0833 11.45 12.175 11.2333 12.325 11.075C12.4083 11 12.4917 10.9417 12.6 10.9C12.75 10.8333 12.9167 10.8167 13.0833 10.85C13.1333 10.8583 13.1833 10.875 13.2333 10.9C13.2833 10.9167 13.3333 10.9417 13.3833 10.975C13.425 11.0083 13.4667 11.0417 13.5083 11.075C13.6583 11.2333 13.75 11.45 13.75 11.6667C13.75 11.8833 13.6583 12.1 13.5083 12.2583Z" fill="%23666666"/></svg>')}
               
            }
        }

.swiper-button-prev::after,
.swiper-button-next::after {
  display: none; /* ini menyembunyikan icon bawaan swiper */
}

            .button-next-prev{
                position: relative;
                .slider-btn-prev{
                    position: absolute;
                    border: none;
                    color: white;
                    opacity: 100%;
                    background: none;
                    width: 60px;
                    height: 40px;
                    left: 810px;
                    top: -10px;
                //     background-image: (url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none"><path d="M15 27.5C8.1 27.5 2.5 21.9 2.5 15C2.5 8.1 8.1 2.5 15 2.5C21.9 2.5 27.5 8.1 27.5 15C27.5 21.9 21.9 27.5 15 27.5ZM19.375 14.0625H12.8875L15.0375 11.9125C15.4 11.55 15.4 10.95 15.0375 10.5875C14.85 10.4 14.6125 10.3125 14.375 10.3125C14.1375 10.3125 13.9 10.4 13.7125 10.5875L9.9625 14.3375C9.6 14.7 9.6 15.3 9.9625 15.6625L13.7125 19.4125C14.075 19.775 14.675 19.775 15.0375 19.4125C15.4 19.05 15.4 18.45 15.0375 18.0875L12.8875 15.9375H19.375C19.8875 15.9375 20.3125 15.5125 20.3125 15C20.3125 14.4875 19.8875 14.0625 19.375 14.0625Z" fill="%23B0B3B8"/></svg>'));
                }
                .slider-btn-next{
                    position: absolute;
                    border: none;
                    color: white;
                    opacity: 100%;
                    background: none;
                    width: 60px;
                    height: 40px;
                    left: 860px;
                    top: -10px;
                //     background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none"><path d="M15 2.5C21.9 2.5 27.5 8.1 27.5 15C27.5 21.9 21.9 27.5 15 27.5C8.1 27.5 2.5 21.9 2.5 15C2.5 8.1 8.1 2.5 15 2.5ZM10.625 15.9375H17.1125L14.9625 18.0875C14.6 18.45 14.6 19.05 14.9625 19.4125C15.15 19.6 15.3875 19.6875 15.625 19.6875C15.8625 19.6875 16.1 19.6 16.2875 19.4125L20.0375 15.6625C20.4 15.3 20.4 14.7 20.0375 14.3375L16.2875 10.5875C15.925 10.225 15.325 10.225 14.9625 10.5875C14.6 10.95 14.6 11.55 14.9625 11.9125L17.1125 14.0625H10.625C10.1125 14.0625 9.6875 14.4875 9.6875 15C9.6875 15.5125 10.1125 15.9375 10.625 15.9375Z" fill="%23B0B3B8"/></svg>');
                }
                .slider-btn-prevv{
                    position: absolute;
                    border: none;
                    color: white;
                    opacity: 100%;
                    background: none;
                    width: 60px;
                    height: 40px;
                    left: 810px;
                    top: -32px;
                    svg{
                        width: 100%;
                        height: 100%;
                    }
                //     background-image: (url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none"><path d="M15 27.5C8.1 27.5 2.5 21.9 2.5 15C2.5 8.1 8.1 2.5 15 2.5C21.9 2.5 27.5 8.1 27.5 15C27.5 21.9 21.9 27.5 15 27.5ZM19.375 14.0625H12.8875L15.0375 11.9125C15.4 11.55 15.4 10.95 15.0375 10.5875C14.85 10.4 14.6125 10.3125 14.375 10.3125C14.1375 10.3125 13.9 10.4 13.7125 10.5875L9.9625 14.3375C9.6 14.7 9.6 15.3 9.9625 15.6625L13.7125 19.4125C14.075 19.775 14.675 19.775 15.0375 19.4125C15.4 19.05 15.4 18.45 15.0375 18.0875L12.8875 15.9375H19.375C19.8875 15.9375 20.3125 15.5125 20.3125 15C20.3125 14.4875 19.8875 14.0625 19.375 14.0625Z" fill="%23B0B3B8"/></svg>'));
                }
                .slider-btn-nextt{
                    position: absolute;
                    border: none;
                    color: white;
                    opacity: 100%;
                    background: none;
                    width: 80px;
                    height: 40px;
                    left: 850px;
                    top: -32px;
                    svg{
                        width: 100%;
                        height: 100%;
                    }
                //     background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none"><path d="M15 2.5C21.9 2.5 27.5 8.1 27.5 15C27.5 21.9 21.9 27.5 15 27.5C8.1 27.5 2.5 21.9 2.5 15C2.5 8.1 8.1 2.5 15 2.5ZM10.625 15.9375H17.1125L14.9625 18.0875C14.6 18.45 14.6 19.05 14.9625 19.4125C15.15 19.6 15.3875 19.6875 15.625 19.6875C15.8625 19.6875 16.1 19.6 16.2875 19.4125L20.0375 15.6625C20.4 15.3 20.4 14.7 20.0375 14.3375L16.2875 10.5875C15.925 10.225 15.325 10.225 14.9625 10.5875C14.6 10.95 14.6 11.55 14.9625 11.9125L17.1125 14.0625H10.625C10.1125 14.0625 9.6875 14.4875 9.6875 15C9.6875 15.5125 10.1125 15.9375 10.625 15.9375Z" fill="%23B0B3B8"/></svg>');
                }
            
            
            
        }
        
    }
    .card-match{
        display: flex;
        
    }
}