.unggah-foto{
    border-radius: 8px;
    border: 1px dashed var(--Neutral-03, #D3D7DB);
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between !important;
    margin: 0;
    width: 338px;
    position: relative;
    
    .preview{
        position: absolute;
        width: 100%;
        height: 100%;
        right: 0px;
        top: 0px;
        img{
            border-radius: 8px;
            width: 100%;
            height: 100%;
        }
    }

    .error{
        position: absolute;
    }

    h4{
        color: #1F1F1F;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px; /* 150% */
        margin: 0;
        }

        span{
            color: #B0B3B8;
            text-align: center;
            font-size: 14px !important;
            font-style: normal;
            font-weight: 400;
            line-height: 20px; /* 142.857% */
        }

        button{
            display: flex;
            padding: 8px 16px;
            justify-content: center;
            align-items: center;
            gap: 10px;
            align-self: stretch;
            border-radius: 5px;
            border: 1px solid #F05D55;
            background: var(--White, #FCFCFD);
            color: #E62129;
            text-align: center;
            font-size: 12px;
            font-style: normal;
            font-weight: 500;
            line-height: 16px;
    }
}

.biodata-team{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;

    h4{
        color: #1F1F1F;
                font-size: 16px;
                font-style: normal;
                font-weight: 500;
                line-height: 24px; /* 150% */
                margin: 0;
    }

    input{
         width: 100%;
        padding:16px;
        border-radius: 8px;
        border: 0.5px solid var(--Grey-400, #D7D7D7);
        background: #F9F9F9;
        outline: none;

        &::placeholder{
            color: var(--Grey-500, #8A8A8A);
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
    }

    &-inner{
        display: flex;
        gap: 16px;
        
    }
    .manager{
            display: flex;
            flex-direction: column;
            gap: 8px;
            flex: 1 0 0;
             select{
            color: var(--Neutral-04, #B0B3B8);
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 20px; /* 142.857% */
            width: 100%;
            padding: 16px;
            align-items: center;
            gap: 8px;
            border-radius: 8px;
            border: 1px solid var(--Neutral-03, #D3D7DB);
            background: #F9F9F9;

        }
        }   
}

.side-garuda{
    display: flex;
    gap: 16px;

    .card-side-inner{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .manager{
    display: flex;
    width: 100%;

}
    .manager-inner{
        flex: 1 0 0;
        display: flex;
        flex-direction: column;
        gap: 8px;
        
    }
}